:root {
  --aa-font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--aa-background-color-rgb));
  margin: 0px;
}
.App,
.aa-ItemContentTitle {
  font-family: var(--aa-font-family);
}
.App {
  margin: 20px;
}

.header {
  color: currentColor;
  border-bottom: 2px solid currentColor;
  padding-bottom: 0.5em;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}
