.App,
.aa-ItemContentTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
  border-bottom: 2px solid currentColor;
  padding-bottom: 0.5em;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}
